.create-event-container {
    max-width: 600px;
    margin: 20px auto auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.create-event-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    height: 100px;
}

.form-group button {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #b67eff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.form-group button:hover {
    background-color: #882eff;
}

.error {
    color: red;
    margin-bottom: 10px;
    text-align: center;
}

.loading {
    text-align: center;
    font-style: italic;
    color: #888;
}

.create-place-event-btn {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #b67eff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.create-place-event-btn:hover {
    background-color: #882eff;
}

.create-event-btn {
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: 20px auto 0;
    padding: 10px 20px;
    background-color: #b67eff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    text-align: center;
    text-decoration: none;
}

.create-event-btn:hover {
    background-color: #882eff;
}
